--
-- PostgreSQL database dump
--

\restrict Wg0NulJ62WV9vrid8QM9TONy567PuZFZgs0NGyPBhdQGwYDOoPxsY1Ogkw6x0vB

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: contentstatus; Type: TYPE; Schema: public; Owner: faithpage
--

CREATE TYPE public.contentstatus AS ENUM (
    'pending',
    'approved',
    'rejected',
    'posted',
    'failed'
);


ALTER TYPE public.contentstatus OWNER TO faithpage;

--
-- Name: contenttype; Type: TYPE; Schema: public; Owner: faithpage
--

CREATE TYPE public.contenttype AS ENUM (
    'daily_verse',
    'marriage_monday',
    'parenting_wednesday',
    'faith_friday',
    'encouragement',
    'prayer_prompt',
    'gratitude',
    'fill_in_blank',
    'this_or_that',
    'conviction_quote',
    'parenting_list',
    'marriage_challenge',
    'carousel',
    'reel'
);


ALTER TYPE public.contenttype OWNER TO faithpage;

--
-- Name: dealstage; Type: TYPE; Schema: public; Owner: faithpage
--

CREATE TYPE public.dealstage AS ENUM (
    'prospect',
    'contacted',
    'negotiating',
    'closed_won',
    'closed_lost'
);


ALTER TYPE public.dealstage OWNER TO faithpage;

--
-- Name: emotionaltone; Type: TYPE; Schema: public; Owner: faithpage
--

CREATE TYPE public.emotionaltone AS ENUM (
    'hopeful',
    'challenging',
    'reflective',
    'celebratory'
);


ALTER TYPE public.emotionaltone OWNER TO faithpage;

--
-- Name: imageformat; Type: TYPE; Schema: public; Owner: faithpage
--

CREATE TYPE public.imageformat AS ENUM (
    'feed_4x5',
    'feed_1x1',
    'story_9x16',
    'reel_9x16'
);


ALTER TYPE public.imageformat OWNER TO faithpage;

--
-- Name: imageprovider; Type: TYPE; Schema: public; Owner: faithpage
--

CREATE TYPE public.imageprovider AS ENUM (
    'leonardo',
    'unsplash',
    'canva',
    'pil_fallback'
);


ALTER TYPE public.imageprovider OWNER TO faithpage;

--
-- Name: platform; Type: TYPE; Schema: public; Owner: faithpage
--

CREATE TYPE public.platform AS ENUM (
    'instagram',
    'facebook',
    'tiktok',
    'pinterest'
);


ALTER TYPE public.platform OWNER TO faithpage;

--
-- Name: postingstatus; Type: TYPE; Schema: public; Owner: faithpage
--

CREATE TYPE public.postingstatus AS ENUM (
    'scheduled',
    'posting',
    'success',
    'failed',
    'skipped'
);


ALTER TYPE public.postingstatus OWNER TO faithpage;

--
-- Name: trendsource; Type: TYPE; Schema: public; Owner: faithpage
--

CREATE TYPE public.trendsource AS ENUM (
    'google_trends',
    'reddit',
    'pinterest',
    'competitor',
    'manual'
);


ALTER TYPE public.trendsource OWNER TO faithpage;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: affiliate_clicks; Type: TABLE; Schema: public; Owner: faithpage
--

CREATE TABLE public.affiliate_clicks (
    id integer NOT NULL,
    link_id integer NOT NULL,
    clicked_at timestamp without time zone DEFAULT now(),
    utm_source character varying(100),
    utm_medium character varying(100),
    utm_campaign character varying(100),
    converted boolean DEFAULT false,
    commission_earned double precision
);


ALTER TABLE public.affiliate_clicks OWNER TO faithpage;

--
-- Name: affiliate_clicks_id_seq; Type: SEQUENCE; Schema: public; Owner: faithpage
--

CREATE SEQUENCE public.affiliate_clicks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.affiliate_clicks_id_seq OWNER TO faithpage;

--
-- Name: affiliate_clicks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: faithpage
--

ALTER SEQUENCE public.affiliate_clicks_id_seq OWNED BY public.affiliate_clicks.id;


--
-- Name: affiliate_links; Type: TABLE; Schema: public; Owner: faithpage
--

CREATE TABLE public.affiliate_links (
    id integer NOT NULL,
    program character varying(100) NOT NULL,
    product_name character varying(300) NOT NULL,
    original_url character varying(2000) NOT NULL,
    tracked_url character varying(2000) NOT NULL,
    commission_rate double precision,
    commission_type character varying(20),
    active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.affiliate_links OWNER TO faithpage;

--
-- Name: affiliate_links_id_seq; Type: SEQUENCE; Schema: public; Owner: faithpage
--

CREATE SEQUENCE public.affiliate_links_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.affiliate_links_id_seq OWNER TO faithpage;

--
-- Name: affiliate_links_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: faithpage
--

ALTER SEQUENCE public.affiliate_links_id_seq OWNED BY public.affiliate_links.id;


--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: faithpage
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO faithpage;

--
-- Name: analytics_snapshots; Type: TABLE; Schema: public; Owner: faithpage
--

CREATE TABLE public.analytics_snapshots (
    id integer NOT NULL,
    content_id integer NOT NULL,
    posting_log_id integer,
    platform public.platform NOT NULL,
    captured_at timestamp without time zone DEFAULT now() NOT NULL,
    hours_after_post integer,
    likes integer DEFAULT 0,
    comments integer DEFAULT 0,
    shares integer DEFAULT 0,
    saves integer DEFAULT 0,
    reach integer DEFAULT 0,
    impressions integer DEFAULT 0,
    profile_visits integer DEFAULT 0,
    website_clicks integer DEFAULT 0,
    engagement_rate double precision
);


ALTER TABLE public.analytics_snapshots OWNER TO faithpage;

--
-- Name: analytics_snapshots_id_seq; Type: SEQUENCE; Schema: public; Owner: faithpage
--

CREATE SEQUENCE public.analytics_snapshots_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.analytics_snapshots_id_seq OWNER TO faithpage;

--
-- Name: analytics_snapshots_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: faithpage
--

ALTER SEQUENCE public.analytics_snapshots_id_seq OWNED BY public.analytics_snapshots.id;


--
-- Name: bible_verses; Type: TABLE; Schema: public; Owner: faithpage
--

CREATE TABLE public.bible_verses (
    id integer NOT NULL,
    reference character varying(100) NOT NULL,
    text text NOT NULL,
    book character varying(50) NOT NULL,
    chapter integer NOT NULL,
    verse_start integer NOT NULL,
    verse_end integer,
    translation character varying(20) DEFAULT 'web'::character varying,
    last_used_at timestamp without time zone,
    use_count integer DEFAULT 0,
    fetched_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.bible_verses OWNER TO faithpage;

--
-- Name: bible_verses_id_seq; Type: SEQUENCE; Schema: public; Owner: faithpage
--

CREATE SEQUENCE public.bible_verses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.bible_verses_id_seq OWNER TO faithpage;

--
-- Name: bible_verses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: faithpage
--

ALTER SEQUENCE public.bible_verses_id_seq OWNED BY public.bible_verses.id;


--
-- Name: brand_contacts; Type: TABLE; Schema: public; Owner: faithpage
--

CREATE TABLE public.brand_contacts (
    id integer NOT NULL,
    brand_name character varying(200) NOT NULL,
    contact_name character varying(200),
    contact_email character varying(320),
    website character varying(2000),
    category character varying(100),
    notes text,
    deal_stage public.dealstage DEFAULT 'prospect'::public.dealstage,
    deal_value double precision,
    last_contacted_at timestamp without time zone,
    next_followup_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.brand_contacts OWNER TO faithpage;

--
-- Name: brand_contacts_id_seq; Type: SEQUENCE; Schema: public; Owner: faithpage
--

CREATE SEQUENCE public.brand_contacts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.brand_contacts_id_seq OWNER TO faithpage;

--
-- Name: brand_contacts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: faithpage
--

ALTER SEQUENCE public.brand_contacts_id_seq OWNED BY public.brand_contacts.id;


--
-- Name: competitor_snapshots; Type: TABLE; Schema: public; Owner: faithpage
--

CREATE TABLE public.competitor_snapshots (
    id integer NOT NULL,
    page_handle character varying(100) NOT NULL,
    platform public.platform DEFAULT 'instagram'::public.platform,
    followers integer,
    following integer,
    post_count integer,
    avg_engagement_rate double precision,
    recent_post_types json,
    top_hashtags json,
    posting_frequency_per_week double precision,
    avg_likes_recent integer,
    avg_comments_recent integer,
    captured_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.competitor_snapshots OWNER TO faithpage;

--
-- Name: competitor_snapshots_id_seq; Type: SEQUENCE; Schema: public; Owner: faithpage
--

CREATE SEQUENCE public.competitor_snapshots_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.competitor_snapshots_id_seq OWNER TO faithpage;

--
-- Name: competitor_snapshots_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: faithpage
--

ALTER SEQUENCE public.competitor_snapshots_id_seq OWNED BY public.competitor_snapshots.id;


--
-- Name: content_calendar_slots; Type: TABLE; Schema: public; Owner: faithpage
--

CREATE TABLE public.content_calendar_slots (
    id integer NOT NULL,
    date timestamp without time zone NOT NULL,
    time_slot character varying(10) NOT NULL,
    content_type public.contenttype NOT NULL,
    series_type character varying(50),
    emotional_tone public.emotionaltone,
    theme character varying(200),
    content_id integer,
    filled boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.content_calendar_slots OWNER TO faithpage;

--
-- Name: content_calendar_slots_id_seq; Type: SEQUENCE; Schema: public; Owner: faithpage
--

CREATE SEQUENCE public.content_calendar_slots_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.content_calendar_slots_id_seq OWNER TO faithpage;

--
-- Name: content_calendar_slots_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: faithpage
--

ALTER SEQUENCE public.content_calendar_slots_id_seq OWNED BY public.content_calendar_slots.id;


--
-- Name: email_subscribers; Type: TABLE; Schema: public; Owner: faithpage
--

CREATE TABLE public.email_subscribers (
    id integer NOT NULL,
    email character varying(320) NOT NULL,
    source character varying(100),
    tags json,
    convertkit_subscriber_id character varying(50),
    subscribed_at timestamp without time zone DEFAULT now(),
    unsubscribed_at timestamp without time zone,
    active boolean DEFAULT true
);


ALTER TABLE public.email_subscribers OWNER TO faithpage;

--
-- Name: email_subscribers_id_seq; Type: SEQUENCE; Schema: public; Owner: faithpage
--

CREATE SEQUENCE public.email_subscribers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.email_subscribers_id_seq OWNER TO faithpage;

--
-- Name: email_subscribers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: faithpage
--

ALTER SEQUENCE public.email_subscribers_id_seq OWNED BY public.email_subscribers.id;


--
-- Name: generated_content; Type: TABLE; Schema: public; Owner: faithpage
--

CREATE TABLE public.generated_content (
    id integer NOT NULL,
    verse_id integer,
    trend_id integer,
    content_type public.contenttype NOT NULL,
    series_type character varying(50),
    emotional_tone public.emotionaltone,
    weekly_theme character varying(200),
    hook text,
    caption_short text,
    caption_medium text,
    caption_long text,
    story_text text,
    reel_script_15 text,
    reel_script_30 text,
    pinterest_description text,
    facebook_variation text,
    alt_text text,
    content_series_fit text,
    hashtags_large json,
    hashtags_medium json,
    hashtags_niche json,
    image_prompt text,
    status public.contentstatus DEFAULT 'pending'::public.contentstatus,
    scheduled_at timestamp without time zone,
    approved_at timestamp without time zone,
    rejected_reason text,
    model_used character varying(50),
    prompt_template_version character varying(20),
    input_tokens integer,
    output_tokens integer,
    generation_cost_usd double precision,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.generated_content OWNER TO faithpage;

--
-- Name: generated_content_id_seq; Type: SEQUENCE; Schema: public; Owner: faithpage
--

CREATE SEQUENCE public.generated_content_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.generated_content_id_seq OWNER TO faithpage;

--
-- Name: generated_content_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: faithpage
--

ALTER SEQUENCE public.generated_content_id_seq OWNED BY public.generated_content.id;


--
-- Name: generated_images; Type: TABLE; Schema: public; Owner: faithpage
--

CREATE TABLE public.generated_images (
    id integer NOT NULL,
    content_id integer NOT NULL,
    provider public.imageprovider NOT NULL,
    format public.imageformat NOT NULL,
    raw_url character varying(2000),
    final_url character varying(2000),
    r2_key character varying(500),
    width integer,
    height integer,
    file_size_bytes integer,
    leonardo_generation_id character varying(100),
    unsplash_photo_id character varying(100),
    unsplash_attribution text,
    canva_design_id character varying(100),
    canva_template_id character varying(100),
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.generated_images OWNER TO faithpage;

--
-- Name: generated_images_id_seq; Type: SEQUENCE; Schema: public; Owner: faithpage
--

CREATE SEQUENCE public.generated_images_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.generated_images_id_seq OWNER TO faithpage;

--
-- Name: generated_images_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: faithpage
--

ALTER SEQUENCE public.generated_images_id_seq OWNED BY public.generated_images.id;


--
-- Name: hashtag_performance; Type: TABLE; Schema: public; Owner: faithpage
--

CREATE TABLE public.hashtag_performance (
    id integer NOT NULL,
    hashtag character varying(100) NOT NULL,
    tier character varying(20) NOT NULL,
    estimated_posts integer,
    times_used integer DEFAULT 0,
    avg_reach_when_used double precision,
    avg_engagement_when_used double precision,
    performance_score double precision DEFAULT '50'::double precision,
    active boolean DEFAULT true,
    last_used_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.hashtag_performance OWNER TO faithpage;

--
-- Name: hashtag_performance_id_seq; Type: SEQUENCE; Schema: public; Owner: faithpage
--

CREATE SEQUENCE public.hashtag_performance_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.hashtag_performance_id_seq OWNER TO faithpage;

--
-- Name: hashtag_performance_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: faithpage
--

ALTER SEQUENCE public.hashtag_performance_id_seq OWNED BY public.hashtag_performance.id;


--
-- Name: posting_log; Type: TABLE; Schema: public; Owner: faithpage
--

CREATE TABLE public.posting_log (
    id integer NOT NULL,
    content_id integer NOT NULL,
    platform public.platform NOT NULL,
    platform_post_id character varying(100),
    platform_media_id character varying(100),
    status public.postingstatus NOT NULL,
    error_message text,
    retry_count integer DEFAULT 0,
    caption_used text,
    hashtags_used json,
    posted_at timestamp without time zone,
    scheduled_for timestamp without time zone,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.posting_log OWNER TO faithpage;

--
-- Name: posting_log_id_seq; Type: SEQUENCE; Schema: public; Owner: faithpage
--

CREATE SEQUENCE public.posting_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.posting_log_id_seq OWNER TO faithpage;

--
-- Name: posting_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: faithpage
--

ALTER SEQUENCE public.posting_log_id_seq OWNED BY public.posting_log.id;


--
-- Name: revenue_log; Type: TABLE; Schema: public; Owner: faithpage
--

CREATE TABLE public.revenue_log (
    id integer NOT NULL,
    source_type character varying(50) NOT NULL,
    source_detail character varying(200),
    amount double precision NOT NULL,
    currency character varying(3) DEFAULT 'USD'::character varying,
    recorded_at timestamp without time zone DEFAULT now(),
    notes text
);


ALTER TABLE public.revenue_log OWNER TO faithpage;

--
-- Name: revenue_log_id_seq; Type: SEQUENCE; Schema: public; Owner: faithpage
--

CREATE SEQUENCE public.revenue_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.revenue_log_id_seq OWNER TO faithpage;

--
-- Name: revenue_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: faithpage
--

ALTER SEQUENCE public.revenue_log_id_seq OWNED BY public.revenue_log.id;


--
-- Name: trending_content; Type: TABLE; Schema: public; Owner: faithpage
--

CREATE TABLE public.trending_content (
    id integer NOT NULL,
    source public.trendsource NOT NULL,
    topic character varying(500) NOT NULL,
    score double precision,
    raw_data json,
    url character varying(2000),
    subreddit character varying(100),
    engagement_signals json,
    used boolean,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.trending_content OWNER TO faithpage;

--
-- Name: trending_content_id_seq; Type: SEQUENCE; Schema: public; Owner: faithpage
--

CREATE SEQUENCE public.trending_content_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.trending_content_id_seq OWNER TO faithpage;

--
-- Name: trending_content_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: faithpage
--

ALTER SEQUENCE public.trending_content_id_seq OWNED BY public.trending_content.id;


--
-- Name: affiliate_clicks id; Type: DEFAULT; Schema: public; Owner: faithpage
--

ALTER TABLE ONLY public.affiliate_clicks ALTER COLUMN id SET DEFAULT nextval('public.affiliate_clicks_id_seq'::regclass);


--
-- Name: affiliate_links id; Type: DEFAULT; Schema: public; Owner: faithpage
--

ALTER TABLE ONLY public.affiliate_links ALTER COLUMN id SET DEFAULT nextval('public.affiliate_links_id_seq'::regclass);


--
-- Name: analytics_snapshots id; Type: DEFAULT; Schema: public; Owner: faithpage
--

ALTER TABLE ONLY public.analytics_snapshots ALTER COLUMN id SET DEFAULT nextval('public.analytics_snapshots_id_seq'::regclass);


--
-- Name: bible_verses id; Type: DEFAULT; Schema: public; Owner: faithpage
--

ALTER TABLE ONLY public.bible_verses ALTER COLUMN id SET DEFAULT nextval('public.bible_verses_id_seq'::regclass);


--
-- Name: brand_contacts id; Type: DEFAULT; Schema: public; Owner: faithpage
--

ALTER TABLE ONLY public.brand_contacts ALTER COLUMN id SET DEFAULT nextval('public.brand_contacts_id_seq'::regclass);


--
-- Name: competitor_snapshots id; Type: DEFAULT; Schema: public; Owner: faithpage
--

ALTER TABLE ONLY public.competitor_snapshots ALTER COLUMN id SET DEFAULT nextval('public.competitor_snapshots_id_seq'::regclass);


--
-- Name: content_calendar_slots id; Type: DEFAULT; Schema: public; Owner: faithpage
--

ALTER TABLE ONLY public.content_calendar_slots ALTER COLUMN id SET DEFAULT nextval('public.content_calendar_slots_id_seq'::regclass);


--
-- Name: email_subscribers id; Type: DEFAULT; Schema: public; Owner: faithpage
--

ALTER TABLE ONLY public.email_subscribers ALTER COLUMN id SET DEFAULT nextval('public.email_subscribers_id_seq'::regclass);


--
-- Name: generated_content id; Type: DEFAULT; Schema: public; Owner: faithpage
--

ALTER TABLE ONLY public.generated_content ALTER COLUMN id SET DEFAULT nextval('public.generated_content_id_seq'::regclass);


--
-- Name: generated_images id; Type: DEFAULT; Schema: public; Owner: faithpage
--

ALTER TABLE ONLY public.generated_images ALTER COLUMN id SET DEFAULT nextval('public.generated_images_id_seq'::regclass);


--
-- Name: hashtag_performance id; Type: DEFAULT; Schema: public; Owner: faithpage
--

ALTER TABLE ONLY public.hashtag_performance ALTER COLUMN id SET DEFAULT nextval('public.hashtag_performance_id_seq'::regclass);


--
-- Name: posting_log id; Type: DEFAULT; Schema: public; Owner: faithpage
--

ALTER TABLE ONLY public.posting_log ALTER COLUMN id SET DEFAULT nextval('public.posting_log_id_seq'::regclass);


--
-- Name: revenue_log id; Type: DEFAULT; Schema: public; Owner: faithpage
--

ALTER TABLE ONLY public.revenue_log ALTER COLUMN id SET DEFAULT nextval('public.revenue_log_id_seq'::regclass);


--
-- Name: trending_content id; Type: DEFAULT; Schema: public; Owner: faithpage
--

ALTER TABLE ONLY public.trending_content ALTER COLUMN id SET DEFAULT nextval('public.trending_content_id_seq'::regclass);


--
-- Data for Name: affiliate_clicks; Type: TABLE DATA; Schema: public; Owner: faithpage
--

COPY public.affiliate_clicks (id, link_id, clicked_at, utm_source, utm_medium, utm_campaign, converted, commission_earned) FROM stdin;
\.


--
-- Data for Name: affiliate_links; Type: TABLE DATA; Schema: public; Owner: faithpage
--

COPY public.affiliate_links (id, program, product_name, original_url, tracked_url, commission_rate, commission_type, active, created_at) FROM stdin;
\.


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: faithpage
--

COPY public.alembic_version (version_num) FROM stdin;
001_initial
\.


--
-- Data for Name: analytics_snapshots; Type: TABLE DATA; Schema: public; Owner: faithpage
--



--
-- Data for Name: bible_verses; Type: TABLE DATA; Schema: public; Owner: faithpage
--



--
-- Data for Name: brand_contacts; Type: TABLE DATA; Schema: public; Owner: faithpage
--

COPY public.brand_contacts (id, brand_name, contact_name, contact_email, website, category, notes, deal_stage, deal_value, last_contacted_at, next_followup_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: competitor_snapshots; Type: TABLE DATA; Schema: public; Owner: faithpage
--

COPY public.competitor_snapshots (id, page_handle, platform, followers, following, post_count, avg_engagement_rate, recent_post_types, top_hashtags, posting_frequency_per_week, avg_likes_recent, avg_comments_recent, captured_at) FROM stdin;
\.


--
-- Data for Name: content_calendar_slots; Type: TABLE DATA; Schema: public; Owner: faithpage
--

COPY public.content_calendar_slots (id, date, time_slot, content_type, series_type, emotional_tone, theme, content_id, filled, created_at) FROM stdin;
\.


--
-- Data for Name: email_subscribers; Type: TABLE DATA; Schema: public; Owner: faithpage
--

COPY public.email_subscribers (id, email, source, tags, convertkit_subscriber_id, subscribed_at, unsubscribed_at, active) FROM stdin;
\.


--
-- Data for Name: generated_content; Type: TABLE DATA; Schema: public; Owner: faithpage
--



--
-- Data for Name: generated_images; Type: TABLE DATA; Schema: public; Owner: faithpage
--



--
-- Data for Name: hashtag_performance; Type: TABLE DATA; Schema: public; Owner: faithpage
--

COPY public.hashtag_performance (id, hashtag, tier, estimated_posts, times_used, avg_reach_when_used, avg_engagement_when_used, performance_score, active, last_used_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: posting_log; Type: TABLE DATA; Schema: public; Owner: faithpage
--



--
-- Data for Name: revenue_log; Type: TABLE DATA; Schema: public; Owner: faithpage
--

COPY public.revenue_log (id, source_type, source_detail, amount, currency, recorded_at, notes) FROM stdin;
\.


--
-- Data for Name: trending_content; Type: TABLE DATA; Schema: public; Owner: faithpage
--



--
-- Name: affiliate_clicks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: faithpage
--

SELECT pg_catalog.setval('public.affiliate_clicks_id_seq', 1, false);


--
-- Name: affiliate_links_id_seq; Type: SEQUENCE SET; Schema: public; Owner: faithpage
--

SELECT pg_catalog.setval('public.affiliate_links_id_seq', 1, false);


--
-- Name: analytics_snapshots_id_seq; Type: SEQUENCE SET; Schema: public; Owner: faithpage
--

SELECT pg_catalog.setval('public.analytics_snapshots_id_seq', 7, true);


--
-- Name: bible_verses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: faithpage
--

SELECT pg_catalog.setval('public.bible_verses_id_seq', 107, true);


--
-- Name: brand_contacts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: faithpage
--

SELECT pg_catalog.setval('public.brand_contacts_id_seq', 1, false);


--
-- Name: competitor_snapshots_id_seq; Type: SEQUENCE SET; Schema: public; Owner: faithpage
--

SELECT pg_catalog.setval('public.competitor_snapshots_id_seq', 1, false);


--
-- Name: content_calendar_slots_id_seq; Type: SEQUENCE SET; Schema: public; Owner: faithpage
--

SELECT pg_catalog.setval('public.content_calendar_slots_id_seq', 1, false);


--
-- Name: email_subscribers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: faithpage
--

SELECT pg_catalog.setval('public.email_subscribers_id_seq', 1, false);


--
-- Name: generated_content_id_seq; Type: SEQUENCE SET; Schema: public; Owner: faithpage
--

SELECT pg_catalog.setval('public.generated_content_id_seq', 65, true);


--
-- Name: generated_images_id_seq; Type: SEQUENCE SET; Schema: public; Owner: faithpage
--

SELECT pg_catalog.setval('public.generated_images_id_seq', 265, true);


--
-- Name: hashtag_performance_id_seq; Type: SEQUENCE SET; Schema: public; Owner: faithpage
--

SELECT pg_catalog.setval('public.hashtag_performance_id_seq', 1, false);


--
-- Name: posting_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: faithpage
--

SELECT pg_catalog.setval('public.posting_log_id_seq', 31, true);


--
-- Name: revenue_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: faithpage
--

SELECT pg_catalog.setval('public.revenue_log_id_seq', 1, false);


--
-- Name: trending_content_id_seq; Type: SEQUENCE SET; Schema: public; Owner: faithpage
--

SELECT pg_catalog.setval('public.trending_content_id_seq', 142, true);


--
-- Name: affiliate_clicks affiliate_clicks_pkey; Type: CONSTRAINT; Schema: public; Owner: faithpage
--

ALTER TABLE ONLY public.affiliate_clicks
    ADD CONSTRAINT affiliate_clicks_pkey PRIMARY KEY (id);


--
-- Name: affiliate_links affiliate_links_pkey; Type: CONSTRAINT; Schema: public; Owner: faithpage
--

ALTER TABLE ONLY public.affiliate_links
    ADD CONSTRAINT affiliate_links_pkey PRIMARY KEY (id);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: faithpage
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: analytics_snapshots analytics_snapshots_pkey; Type: CONSTRAINT; Schema: public; Owner: faithpage
--

ALTER TABLE ONLY public.analytics_snapshots
    ADD CONSTRAINT analytics_snapshots_pkey PRIMARY KEY (id);


--
-- Name: bible_verses bible_verses_pkey; Type: CONSTRAINT; Schema: public; Owner: faithpage
--

ALTER TABLE ONLY public.bible_verses
    ADD CONSTRAINT bible_verses_pkey PRIMARY KEY (id);


--
-- Name: bible_verses bible_verses_reference_key; Type: CONSTRAINT; Schema: public; Owner: faithpage
--

ALTER TABLE ONLY public.bible_verses
    ADD CONSTRAINT bible_verses_reference_key UNIQUE (reference);


--
-- Name: brand_contacts brand_contacts_pkey; Type: CONSTRAINT; Schema: public; Owner: faithpage
--

ALTER TABLE ONLY public.brand_contacts
    ADD CONSTRAINT brand_contacts_pkey PRIMARY KEY (id);


--
-- Name: competitor_snapshots competitor_snapshots_pkey; Type: CONSTRAINT; Schema: public; Owner: faithpage
--

ALTER TABLE ONLY public.competitor_snapshots
    ADD CONSTRAINT competitor_snapshots_pkey PRIMARY KEY (id);


--
-- Name: content_calendar_slots content_calendar_slots_pkey; Type: CONSTRAINT; Schema: public; Owner: faithpage
--

ALTER TABLE ONLY public.content_calendar_slots
    ADD CONSTRAINT content_calendar_slots_pkey PRIMARY KEY (id);


--
-- Name: email_subscribers email_subscribers_email_key; Type: CONSTRAINT; Schema: public; Owner: faithpage
--

ALTER TABLE ONLY public.email_subscribers
    ADD CONSTRAINT email_subscribers_email_key UNIQUE (email);


--
-- Name: email_subscribers email_subscribers_pkey; Type: CONSTRAINT; Schema: public; Owner: faithpage
--

ALTER TABLE ONLY public.email_subscribers
    ADD CONSTRAINT email_subscribers_pkey PRIMARY KEY (id);


--
-- Name: generated_content generated_content_pkey; Type: CONSTRAINT; Schema: public; Owner: faithpage
--

ALTER TABLE ONLY public.generated_content
    ADD CONSTRAINT generated_content_pkey PRIMARY KEY (id);


--
-- Name: generated_images generated_images_pkey; Type: CONSTRAINT; Schema: public; Owner: faithpage
--

ALTER TABLE ONLY public.generated_images
    ADD CONSTRAINT generated_images_pkey PRIMARY KEY (id);


--
-- Name: hashtag_performance hashtag_performance_pkey; Type: CONSTRAINT; Schema: public; Owner: faithpage
--

ALTER TABLE ONLY public.hashtag_performance
    ADD CONSTRAINT hashtag_performance_pkey PRIMARY KEY (id);


--
-- Name: posting_log posting_log_pkey; Type: CONSTRAINT; Schema: public; Owner: faithpage
--

ALTER TABLE ONLY public.posting_log
    ADD CONSTRAINT posting_log_pkey PRIMARY KEY (id);


--
-- Name: revenue_log revenue_log_pkey; Type: CONSTRAINT; Schema: public; Owner: faithpage
--

ALTER TABLE ONLY public.revenue_log
    ADD CONSTRAINT revenue_log_pkey PRIMARY KEY (id);


--
-- Name: trending_content trending_content_pkey; Type: CONSTRAINT; Schema: public; Owner: faithpage
--

ALTER TABLE ONLY public.trending_content
    ADD CONSTRAINT trending_content_pkey PRIMARY KEY (id);


--
-- Name: content_calendar_slots uq_calendar_date_slot; Type: CONSTRAINT; Schema: public; Owner: faithpage
--

ALTER TABLE ONLY public.content_calendar_slots
    ADD CONSTRAINT uq_calendar_date_slot UNIQUE (date, time_slot);


--
-- Name: ix_affiliate_clicks_clicked_at; Type: INDEX; Schema: public; Owner: faithpage
--

CREATE INDEX ix_affiliate_clicks_clicked_at ON public.affiliate_clicks USING btree (clicked_at);


--
-- Name: ix_analytics_content_time; Type: INDEX; Schema: public; Owner: faithpage
--

CREATE INDEX ix_analytics_content_time ON public.analytics_snapshots USING btree (content_id, captured_at);


--
-- Name: ix_competitor_snapshots_captured_at; Type: INDEX; Schema: public; Owner: faithpage
--

CREATE INDEX ix_competitor_snapshots_captured_at ON public.competitor_snapshots USING btree (captured_at);


--
-- Name: ix_competitor_snapshots_page_handle; Type: INDEX; Schema: public; Owner: faithpage
--

CREATE INDEX ix_competitor_snapshots_page_handle ON public.competitor_snapshots USING btree (page_handle);


--
-- Name: ix_generated_content_content_type; Type: INDEX; Schema: public; Owner: faithpage
--

CREATE INDEX ix_generated_content_content_type ON public.generated_content USING btree (content_type);


--
-- Name: ix_generated_content_created_at; Type: INDEX; Schema: public; Owner: faithpage
--

CREATE INDEX ix_generated_content_created_at ON public.generated_content USING btree (created_at);


--
-- Name: ix_generated_content_scheduled_at; Type: INDEX; Schema: public; Owner: faithpage
--

CREATE INDEX ix_generated_content_scheduled_at ON public.generated_content USING btree (scheduled_at);


--
-- Name: ix_generated_content_status; Type: INDEX; Schema: public; Owner: faithpage
--

CREATE INDEX ix_generated_content_status ON public.generated_content USING btree (status);


--
-- Name: ix_hashtag_performance_hashtag; Type: INDEX; Schema: public; Owner: faithpage
--

CREATE INDEX ix_hashtag_performance_hashtag ON public.hashtag_performance USING btree (hashtag);


--
-- Name: ix_posting_log_status; Type: INDEX; Schema: public; Owner: faithpage
--

CREATE INDEX ix_posting_log_status ON public.posting_log USING btree (status);


--
-- Name: ix_posting_platform_date; Type: INDEX; Schema: public; Owner: faithpage
--

CREATE INDEX ix_posting_platform_date ON public.posting_log USING btree (platform, posted_at);


--
-- Name: ix_revenue_log_recorded_at; Type: INDEX; Schema: public; Owner: faithpage
--

CREATE INDEX ix_revenue_log_recorded_at ON public.revenue_log USING btree (recorded_at);


--
-- Name: ix_trending_content_created_at; Type: INDEX; Schema: public; Owner: faithpage
--

CREATE INDEX ix_trending_content_created_at ON public.trending_content USING btree (created_at);


--
-- Name: ix_trending_content_source; Type: INDEX; Schema: public; Owner: faithpage
--

CREATE INDEX ix_trending_content_source ON public.trending_content USING btree (source);


--
-- Name: ix_trending_source_date; Type: INDEX; Schema: public; Owner: faithpage
--

CREATE INDEX ix_trending_source_date ON public.trending_content USING btree (source, created_at);


--
-- Name: affiliate_clicks affiliate_clicks_link_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: faithpage
--

ALTER TABLE ONLY public.affiliate_clicks
    ADD CONSTRAINT affiliate_clicks_link_id_fkey FOREIGN KEY (link_id) REFERENCES public.affiliate_links(id);


--
-- Name: analytics_snapshots analytics_snapshots_content_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: faithpage
--

ALTER TABLE ONLY public.analytics_snapshots
    ADD CONSTRAINT analytics_snapshots_content_id_fkey FOREIGN KEY (content_id) REFERENCES public.generated_content(id);


--
-- Name: analytics_snapshots analytics_snapshots_posting_log_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: faithpage
--

ALTER TABLE ONLY public.analytics_snapshots
    ADD CONSTRAINT analytics_snapshots_posting_log_id_fkey FOREIGN KEY (posting_log_id) REFERENCES public.posting_log(id);


--
-- Name: content_calendar_slots content_calendar_slots_content_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: faithpage
--

ALTER TABLE ONLY public.content_calendar_slots
    ADD CONSTRAINT content_calendar_slots_content_id_fkey FOREIGN KEY (content_id) REFERENCES public.generated_content(id);


--
-- Name: generated_content generated_content_trend_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: faithpage
--

ALTER TABLE ONLY public.generated_content
    ADD CONSTRAINT generated_content_trend_id_fkey FOREIGN KEY (trend_id) REFERENCES public.trending_content(id);


--
-- Name: generated_content generated_content_verse_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: faithpage
--

ALTER TABLE ONLY public.generated_content
    ADD CONSTRAINT generated_content_verse_id_fkey FOREIGN KEY (verse_id) REFERENCES public.bible_verses(id);


--
-- Name: generated_images generated_images_content_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: faithpage
--

ALTER TABLE ONLY public.generated_images
    ADD CONSTRAINT generated_images_content_id_fkey FOREIGN KEY (content_id) REFERENCES public.generated_content(id);


--
-- Name: posting_log posting_log_content_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: faithpage
--

ALTER TABLE ONLY public.posting_log
    ADD CONSTRAINT posting_log_content_id_fkey FOREIGN KEY (content_id) REFERENCES public.generated_content(id);


--
-- PostgreSQL database dump complete
--

\unrestrict Wg0NulJ62WV9vrid8QM9TONy567PuZFZgs0NGyPBhdQGwYDOoPxsY1Ogkw6x0vB

