<!DOCTYPE html>
<html><head>
<meta charset="UTF-8">
<link rel="stylesheet" href="base.css">
</head>
<body>
<div class="swg-bg-green">
  <div class="verse-reference">Matthew 6:33-34 NIV</div>
  <div class="verse-text">But <span class="highlight">seek first his kingdom</span> and his righteousness, and <span class="highlight">all these things will be given to you</span> as well. Therefore <span class="highlight">do not worry about tomorrow</span>, for tomorrow will worry about itself. Each day has enough trouble of its own.</div>
  <div class="watermark">@stillwatergrace</div>
</div>
</body></html>